# Editor backup files
.*~
*~

# Big artefacts
*.iso
*.box
*.ova
*.vmdk

# BATS installation
test/bats*
test/v*tar.gz*

# Hidden Vagrant-directory
.vagrant
linux/lampstack/.vagrant
linux/lempstack/.vagrant
linux/remotedb/.vagrant

# Ignore role directories from Ansible Galaxy (user.role notation)
linux/lampstack/ansible/roles/*.*
linux/lempstack/ansible/roles/*.*
linux/remotedb/ansible/roles/*.*
**/ansible/roles*.*

# Ignore Python bytecodes
*.pyc

# Ignore JRE
**/JRE/
